*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  
  body{
    background-color: rgb(253, 204, 71);;
  }
  a{
    text-decoration: none;
    color:inherit ;
  }
  nav {
  text-align: center;
  background-color: rgb(253, 204, 71);
  padding: 1rem 0;
  }
  nav li{
    display: inline-block;
    
  }
  .navbutton {
  width: 180px;
  background-color: white;
  font-size: 22px;
  padding: 10px 20px ;
  border-radius: 40px;
  }
  #logo {
    margin-bottom: 10px;
  }
  
  h2 {
    color: black;
    text-align: center;
    padding:50px;
    font-size: 50px;
    font-family: Apple Chancery ;
    
  }
  form{
    text-align: center;
    
  }

 .submit{
  border-radius: 20px;
  border: none;
 }
  
  footer{
    text-align: center;
    width: 100%;
    bottom: 100%;
    position: absolute;
    color: black;
    display: block;
  }